<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member.mapper">
<!--회원가입-->
<insert id="join">
	insert into TBL_MEMBER
	(member_code,
	member_id,
	member_pw,
	member_kind,
	member_name,
	member_nick,
	member_tel,
	member_email,
	member_addr,
	member_image,
	member_date)
	values ( #{member_code}, #{member_id}, #{member_pw}, #{member_kind}, #{member_name}
	, #{member_nick}, #{member_tel}, #{member_email}, #{member_addr},
	 #{member_image}, #{member_date})
</insert>
<!-- 로그인 -->
<select id="login" resultType="member.MemberVO">
	select * from TBL_MEMBER where member_id = #{member_id} and member_pw = #{member_pw}
</select>



</mapper>